@use "@/share/styles/mixins";

.container {
  display: flex;
  gap: 8px;
}

.input {
  border-radius: 4px;

  font-size: 16px;

  border: none;
  padding: 9px 16px;
  width: 100%;
  max-width: 912px;

  &::placeholder {
    font-family: inherit;
    font-style: italic;
    font-size: inherit;
    line-height: inherit;
    color: #828282;
  }
}

.button {
  font-size: 15px;
  line-height: 26px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #2196f3;
  transition: opacity 200ms;

  border: none;
  padding: 8px 22px;

  @include mixins.hover {
    opacity: 0.8;
  }

  @include mixins.active {
    opacity: 0.6;
  }
}
